.tatoo01{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 45em;
    left: 80px;
}

.tatoo02{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 25em;
    left: 170px;
}

.tatoo03{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 185em;
    left: 80px;
}

.tatoo04{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 65em;
    left: 170px;
}


.tatoo05{
    width: 100px;
    height: 200px;
    position: absolute;
    top: 290em;
    left: 80px;
}

